<mat-card>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter()" [(ngModel)]="filterValue" placeholder="Escribir..." />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
      <div *ngFor="let column of columns" >
        <div [ngSwitch]="column.columnDef">
          <ng-container *ngSwitchCase="'image'" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</th>
            <td mat-cell *matCellDef="let element">
              <img src="{{element.image}}" class="table-image">
            </td>
          </ng-container>
          <ng-container *ngSwitchDefault [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</th>
            <td mat-cell *matCellDef="let element">{{ element[column.textField] || defaultText }}</td>
          </ng-container>
        </div>
      </div>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
