input[type="file"] {
  display: none;
}

.upload-image-container {
  display: flex;
  width: 30vw;
  align-items: center;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(171, 198, 248);
  justify-self: flex-start;
}

.image-container {
  margin-left: 40px;
}

.image-preview {
  height: 100px;
  width: 130px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}
